<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<!--Thời gian export-->
		<add key="Export:Interval" value="1000"/>
		<!--Thời gian import-->
		<add key="Import:Interval" value="1000"/>
		<!--Đơn vị đại diện-->
		<add key="OrganizationUnitId" value="7AE8D318-94D3-4E00-B65C-010596F83049"/>
		<!--Tên servevice-->
		<add key="ServiceName" value="MTSyncDataVT2"/>	
		<!--Tên hiển thị-->
		<add key="ServiceDisplayName" value="MTSyncDataVT2"/>
		<!--Mô tả chi tiết-->
		<add key="ServiceDescription" value="MTSyncDataVT2"/>
       <!--Đánh dấu service là export hay import-->
		<add key="IsExport" value="true"/>
		<!--1: BCY; 2: Quân đội; 4: Công An; 8: Ngoại giao-->
		<add key="Permission" value="1"/>
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=123.30.236.5,8888\SQL2014;Initial Catalog=ManagementInventoryItem_BCY;User ID=sa;Password=sa@123456654321" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
