<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets async="true">
    <target name="ErrorFile" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" fileName="${basedir}/Error/${shortdate}.txt" />
    <target name="InfoFile" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" fileName="${basedir}/Info/${shortdate}.txt" />
    <target name="DebugFile" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" fileName="${basedir}/Debug/${shortdate}.txt" />
    <target name="TraceFile" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" fileName="${basedir}/Trace/${shortdate}.txt" />
    <target name="WarnFile" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" fileName="${basedir}/Warn/${shortdate}.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="ErrorFile" />
    <logger name="*" minlevel="Info" writeTo="InfoFile" />
    <logger name="*" minlevel="Debug" writeTo="DebugFile" />
    <logger name="*" minlevel="Trace" writeTo="TraceFile" />
    <logger name="*" minlevel="Warn" writeTo="WarnFile" />
  </rules>
</nlog>